.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* start1 */
.background {
  background-image: url('Assets/Hero-bg.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding: 30px;
  position: relative;
}

.nav-head{
display: flex;
justify-content: space-between;
margin-top: 50px;
margin-left: 100px;
margin-right: 100px;
}
.logo{
    color: #4E47FF;
    font-size: 34px;
    font-weight: bold;
    height: 51px;
    width: 99px;
}
nav button a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 12px 36px;
    font-size:16px ;
    font-weight: bold;
}
nav button{
    background-color: #4E47FF;
    border-radius: 10px;
    height: 48 px;
    width: 132 px; 
    border: none;  
}
nav button:hover{
    background-color:bisque;
}
.head{
    display: flex;
  flex-direction: column;
  justify-content: center; /* vertically center */
  align-items: center;     /* horizontally center */
  height: 100vh;
  text-align: center;
  margin-left: 200px;
  margin-left: 200px;
}

 .head h1{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
  line-height: 1.4;
   margin-top: 158px;
  margin-bottom: 37px;
  text-align: center;

}
.head button {
    background-color: #4E47FF;
    height: 48px;
    width: 174px;
    font-weight: bold;
     border-radius: 16px;
    border: none;
    padding: 12px 30px;
    align-items: center;
    justify-items: center;
}
.head button a{
   text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
} 
/* end1 */

/* start2 */
.action{
    display: flex;
    justify-content: space-between;
    gap: auto;
    margin: 116px 141px;
    width: 1140px;
    height: 328px;
}
.action-para h1{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.action-para p{
    color: #8987A1;
    padding-top: 23px;
    padding-bottom: 23px;
}
.action-para{
    height: 203px;
    width: 517px;
}
.action-para button{
    height: 48px;
    width: 229px;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
}
.action-para button a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}
.wc-img{
    display: flex;
    justify-content: center;
    height: 328px;
    width: 403px;
    border-radius: 48px;
}
.round-image1{
    height: 364.77px;
    width: 840px;
    border-radius: 48px;
}
/* end2 */

/* start3 */
.joined{
    background-color:rgb(185, 185, 232);
    height: 306px;
    width: 1140px;
    border-radius: 24px;
    margin: 0 auto;
    padding: 50px 80px;
    margin-top: 116px;
    margin-bottom: 116px;
    margin-right: 141px;
    margin-left: 141px;
    
}
.joined h1{
    text-align: center;
    columns: #c7c4f3;
    font-size: 38px;
    font-weight: bold;
}

.flexx{
    display: flex;
    justify-content: space-around;
    height: 121px;
    width: 856px;
    margin-left:20px ;
    padding-left: 40px;
    padding-bottom: 40px;
}

.items-heading{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.items-para{
    font-size: 20px;
    font-weight: 100;
    height: 24px;
}
/* end 3 */

/* start 4*/
.user-say{
    height: 342px;
    width: 1140px;
    margin: 0 auto;
}
.user-say h1{
    height: 49px;
    width: 1140px;
    text-align: center;
    color: #000000;
    font-size: 42px;
    font-weight: bold;
}
.flx{
    padding-top: 50px;
    display: flex;
    height: 243px;
    width: 1140px;
    /* gap 20px; */
    
}
.user-div{
    border-radius: 24px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    height: 243px;
    width: 366.67px;
    padding: 24px;
}
.user-div h2{
    padding-top: 24PX;
}
.user-div P{
    padding-bottom: 24PX;
    height: 44px;
    width: 318px;
}
.img-div{
    display: flex;
    width: 40px;
    height: 40px;
}

.date r{
    color: #757575;
}
/* end 4 */

/* start 5 */
.ready{
    width: 1140px;
    height: 696.77px;
    background-color: #f5f5f5;
    margin: 0  auto;
    border-radius: 14px;
    margin-top: 100px;
    text-align: center;
    /* margin-left: 141px;
    margin-right: 141px; */
}
.hd{
    font-size: 42px;
    font-weight: bold;
    height: 49px;
    width: 1140px;
    text-align: center;
    color: #252432;
    padding-top: 71px;
    margin-bottom: 20px;
}
.sub{
    color: #757575;
}

 .btn{
    padding: 12px 36px;
    height: 48px;
    width: 195px;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
 }
 .btn a{
    text-decoration: none;
    color: linen;
 }
 .ready-img{
    display: flex;
    justify-content: center;
    
 }
 .round{
height: 364.77px;
    width: 840px;
    border-radius: 48px;
 }
/* end 5*/

/* start 6 */
 .get{
    height: 400px;
    width: 1140px;
    display: flex;
    margin: 0 auto;
    gap: 200px;
    background-color: #FFFFFF; 
    padding-top:71px ;
     justify-content: space-between;
 }
 .input{
    display: block;
    height: 300px;
    width: 497px;
    font: 18px;
    background-color: #FFFFFF;
    margin-left: auto;
    /* justify-items: left; */
 }
 .touch{
    display: flex;
    justify-content: space-between;
    height: 232px;
    width: 528px;
    font-size: 60px;
    font-weight: bold;
    color: #000000;
 }
  
  .email{
    height: 70px;
    width: 497px;
 }
 .name{
    height: 70px;
    width: 497px;
 }
 .massage{
    height: 80px;
    width: 497px;
 }  
    form{
    height: 70;
     width: 497;
      margin-bottom: 19px;
      padding: 20px
    jus

   }
 .buton button a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
 }
 
 .buton button{
background-color: #4E47FF;
border: none;
 }
/* end 6 */


